*{font-family: 'CooperHewitt', arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body {
  align-items: center;
  font-family: 'Cooper Hewitt', sans-serif;
  overflow-x: hidden;
}.Organizations-banner {
  width: 42%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  position: absolute;
   margin-left: 9%;
  margin-top: 190px;
  z-index: 4;
}
.Organizations-Perform {
  font-size: 57px;
  line-height: 82px;
  color: white;
}
.ORGANICINNOVATION{
  width: 184px;
  height: 76px;
}
.Drive-result {
  color: white;
  font-size: 18px;
  opacity: 0.9;
  line-height: 32px;
}
.banner {
  position: relative;
  transform: translateX(90px);
  background-color: #f4f4f4b1; /* Semi-transparent gray background */
  color: black;
  padding: 10px;
  margin-top: 10rem;
  width: 90%;
  height: 350px;
  border-radius: 12px;
  padding-left: 70px;
}
.images-container{
  position: relative;
background: transparent linear-gradient(0deg, #DA6123 0%, #101135 50%) 0% 0% no-repeat padding-box;
  max-width: 89.9%;
  height: 855px ;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.bannerImageDiv {
  position: absolute;
  transform: translateX(750px);
  top: -90px;
}
.commasBTN {
  margin-left: 110px;
  margin-top: 15px;
}
.Capabilites-image {
  position: absolute;
  transform: translateX(-600px);
  top: 2500px;
  z-index: -1;
}
.overlay-image{
  width: 65.8%;
  height: 1061px;
  position: absolute;
  top: -83%;
  left: -30%;
}
.cards-section {
  width: 100%;
  margin-top: 128.3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 127.3px;
}
.card1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 209px;
}
.card2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 184px;
}
.row1{
width: 100%;
display: flex;
flex-direction: row;
gap: 13%;
}
.row2{
  /* margin-top: 130px; */
  width: 100%;
display: flex;
  flex-direction: row;
  /* gap: 184px; */
  gap: 11.4%;

} 

.column1{
  /* margin-left: 150.5px; */
  margin-left: 9%;
 width: 29.5%;
 display: flex;
 flex-direction: row;
 /* gap: 34px; */
 gap: 7%;
}

.column2{
  width: 29.5%;
  display: flex;
  flex-direction: row;
  /* gap: 34px; */
  gap: 7%;

 }

 .column3{
  width: 29.5%;
  display: flex;
  flex-direction: row;
  /* gap: 34px; */
 gap: 7%;
  /* margin-left: 370.5px; */
  margin-left: 23%;
 }

 .column4{
  width: 29.5%;
  display: flex;
  flex-direction: row;
  /* gap: 34px;  */
 gap: 7%;

}

 .card-text{
  display: flex;
  flex-direction:column;
  gap: 25px;
 }

 .card-headline{
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  letter-spacing: 0.75px;
  color: #101135;
  text-transform: uppercase;
  opacity: 1;

 }

 .card-description{
  text-align: left;
letter-spacing: 0.09px;
color: #101135;
opacity: 1;
font-size: 18px;
line-height: 32px;  
 }

 .card-description1{
  width: 102%;
  text-align: left;
letter-spacing: 0.09px;
color: #101135;
opacity: 1;
font-size: 18px;
line-height: 32px;  
 }

 .card-description2{
  width: 102%;
  text-align: left;
letter-spacing: 0.09px;
color: #101135;
opacity: 1;
font-size: 18px;
line-height: 32px;  
 }

 .card-description3{
  width: 102%;
  text-align: left;
letter-spacing: 0.09px;
color: #101135;
opacity: 1;
font-size: 18px;
line-height: 32px;  
 }

 .card-description4{
  width: 102%;
  text-align: left;
letter-spacing: 0.09px;
color: #101135;
opacity: 1;
font-size: 18px;
line-height: 32px; 
height: auto; 
 }

.cards-button{
  /* width: 320px; */
  width: 19.8%;
  height: 77px;
  color: #101135;
  border-radius: 6px;
  background: transparent;
}
 
.Capabilites-section {
  position: relative;
  margin-top: 165px;
  /* margin-left: 162px; */
  margin-left: 10.1%;
  height: 626px;
  /* width: 1450px; */
  width: 89.9%;
  position: relative;
}

.Capabilities-inner {
  background-color: #EAEAEA;
  margin-top: 70px;
  /* width: 1450px; */
  width: 100%;
  height: 486px;
  position: relative;
  top: 70px; /* Add this property and value */
  display: flex;
  flex-direction: column;
}

.Capabilities-poster {
  position: absolute;
  width: 36.7%;
  /* right: 151px; */
  /* top: -87px; */
  right: 10.4%;
  top: -18%;
}

.Capabilities-poster img{
  width: 100%;
}

.capabilities-header1{
  color: #101135;
  text-align: left;
  letter-spacing: 0.75px;
  font-size: 30px;
  line-height: 42.25px;
  width: 104px;
}

.capabilities-header2{
  font-size: 48px;
  letter-spacing: 0.75px;
  line-height: 42.25px;
  /* width: 449px; */
  width: 41%;
  margin-top: 10px;
}

.capabilities-text{
  font-size: 18px;
  line-height: 32px;
  /* width: 529px; */
  width: 48%;
}

.capabilities-inner2{
  margin-top: 103.6px;
  /* margin-left: 104px; */
  margin-left: 7.3%;
}

.capabilities-button{
  font-size: 20px;
  line-height: 38px;
  border-radius: 5px;
  /* margin-left: 106px; */
  margin-left: 7.3%;
  margin-top: 33.6px;
  /* width: 337.66px; */
  width: 23.3%;
  height: 77px;
}

.Capabilities-inner img{
  margin-top: 17px;
}

.capabilities-text{
  margin-top: 30.2px;
  margin-bottom: 0px;
}

.encloser {
  width: 100%;
  max-width: 1612px;
  margin-top: 230px;
}

.experiencing-section {
  width: 100%;
  margin-top: 190px;
  display: flex;
  align-items: center;
  /* gap: 31px; */
  gap: 5%;
  /* justify-content: space-between; */
  flex-direction: row;
}

.footer {
  position: relative;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  height: 758px;
  /* gap: 90px; */
  /* width: 1612px; */
  width: 100%;
  /* background-image: url(Rectangle\ 131.png); */
  background: transparent linear-gradient(270deg, #DA6123 0%, #101135 50%) 0% 0% no-repeat padding-box;

}

.FOCUSED-ENGAGEMENT{
  width: 200px;
  height: 76px;
}
.mobile-footer{
  display: none;
}


.HeaderText1{
  /* width: 646px; */
  width: 100%;
  font-size:64px;
  line-height: 52px;
  height: 85px;
  text-align: center;
}

.HeaderText2{
  text-align: center;

  font-size: 30px;
  line-height: 42.25px;
  /* width: 650px; */
  width: 100%;
  height: 30px;
}

.HeaderText3{
  text-align: center;
  margin-top: 23.7px;
  font-size: 18px;
  line-height: 32px;
  width: 100%;
}

.intuit {
  transform: translateY(60px);
  background-image: linear-gradient(to left, #f2f2f2 50%, #ffffff 100%);
  width: 600px;
  height: 250px;
}

.intuit img {
  margin-top: 60px;
  width: 140px;
  height: 60px;
}

.INSTINCTIVEAGILITY{
  width: 176px;
  height: 76px;
}

.logo {
  /* width: 257.14px; */
  width: 15.9%;
  height: 31.29px;
  margin-left: 147px;
}

.logo img{
  /* width: 100%; */
  height: 100%;
}
.secondary {
  /* background-image: url(organization.png); */
  /* width: 792px; */
  width: 56%;
  height: auto;
  /* height: 570px; */
  position: absolute;
  z-index: 2;
  top: 143px;
  /* right: -164px; */
  right: -11.3%;
}

.secondary img{
width:100% ; 
}

.third1 {
  
  width: 65%;
  height: auto;
  z-index: -1;
  position: absolute;
  /* bottom:-39% ; */
  /* bottom: -333px; */
  top:249px;
  right: -23.1%;

}
.third1 img {
  
  width: 100%;
  height: auto;

}

.third2{
  width: 65%;
  height: auto;
  z-index: 1;
  position: absolute;
  /* bottom:-39%; */
  /* bottom: -333px; */
  top:249px;

   right: -23.1%;
  }

.third2 img {

  width: 100%;
  height: auto;

}

.textDiv {
  display: flex;
  flex-direction: column;
  /* gap: 29.5; */
  /* width: 639px; */
  width: 40%;
  /* margin-top: 3rem; */
  /* margin-right: 350px; */
}

.textDiv p {
  font-size: 20px;
  display: inline-block;
}

/* .scrollable-div {
  margin-top: 2rem; */
  /* margin-left: 100px;
  width: 100%;
  height: 341px;
  overflow: auto;
  background: rgba(128, 128, 128, 0.132);
} */



.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 541px; */
  width: 91%;
  height: 341px;
  position: relative;
  overflow: hidden;
}

.carousel-slider {
  background: transparent linear-gradient(180deg, #EAEAEA00 0%, #EAEAEA 49%, #EAEAEA00 100%) 0% 0% no-repeat padding-box;
opacity: 0.5;
  width: 90%;
  /* height: 100%; */
  height: 81%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.carousel-slider::-webkit-scrollbar {
  display: none; /* Hide vertical scrollbar */
}

.carousel-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
}

.carousel-options p {
  height: 77px;
  /* width: 531px; */
  width: 100%;
  line-height: 50px;
  text-align: center;
  margin: 5px;
}

.active-cell{
  position: absolute;
  /* width:531px; */
  width: 90%;
  height: 77px;
  background: transparent;
  border: 2px solid #DA6123;
  box-shadow: 0 0 0 6px #0000001F;
  /* border: 10px solid #EAEAEA; */
border-radius: 6px;
opacity: 1;
top: 29%;

}


.active-cell svg {
  width: 50%; /* Make the SVG icon fill the entire width of the div */
  height: 32%; /* Make the SVG icon fill the entire height of the div */
  fill: #DA6123; /* Set the color of the SVG icon */
  transform: translate(125%,40%);
}

.active-option {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid red;
  border-radius: 6px;
  background-color: lightgray;
}

.active-option p {
  text-align: center;
  line-height: 50px;
  margin: 0;
}



.scroll-Button {
  margin-top: 38px;
  /* width: 336.66px; */
  width: 52.5%;  
  height: 77px;
  font-size: 18px;
  color: #eee;
  border: 1px #101135 solid;
  background-color: transparent;
  color: #101135;
  border-radius: 5px;
}

.TeamsWorkbtn {
  width: 274.66px;
  height: 77px;
  margin-top: 39px;
  font-size: 20px;
  color: #ffffff;
  border: 1px #ffffff solid;
  background-color: transparent;
  border-radius: 5px;
  opacity: 0.7;
}

.scrollEncloser {
  position: relative;
  /* margin-left: 148px; */
  margin-left: 9%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.scrollEHeader {
font-size: 46px;
line-height: 65px;
}

.X-section {
  width: 100%;
  margin-top: 162px;
  display: flex;
  flex-direction: row;
  gap: 216px;
}

.X-Image {
  width: 42%;
  height: 462px;
}

.X-Image img {
  width: 100%;
  height: auto;
}

.X5-section {
  width: 26%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  /* margin-left: 200px; */
}

.X5-right{
  width: 100%;
}

.more-Image {
  /* width: 270px; */
  width: 64%;
  height: 70px;
  /* position: absolute;   */
  transform: translateY(-60px);
}

.more-Image img{
  width: 100%;
}

.X5-Image {
  /* width: 265px; */
  width: 63%;
  height: 206px;
}

.X5-Image img {
  width: 100%;
}

.more-Text{
  width: 100%;
  transform: translateY(-30px); 
}

.HeaderText {
  /* width: 40%; */
  width: 100%;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  gap: 16.5px;  
  align-items: center;  
  color: #101135;

}

.HeaderTextInner{
  /* width: 100%; */
  width: 51%;
  display: flex;
  flex-direction: column;
  gap: 16.5px;  
  align-items: center; 

  
}



.pre-footer {
  margin-top: 257px;
  /* margin-left: 162px; */
  margin-left: 10%;
  height: 414px;
  /* width: 1450px; */
  width: 89.9%;
  /* position: relative; */

  display: flex;
  flex-direction: row;
  /* gap: 45px; */
  gap: 3.1%;
}

.leftpre-header{
  /* width: 430px; */
  width: 95%;
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 46px;
  line-height: 65px;
  text-align: left;
  color: #101135;
}

.teamWork-Div button {
  transform: translateX(-35px);
}

.quote img {
  width: 74.96px;
  height: 74.93px;
}

.quote p {
  transform: translateX(80px);
  width: 500px;
}

/* .single-card1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: 150.5px;

} */

/* .single-card2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  

} */

/* .single-card3 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: 370px;
} */

/* .single-card4 {
  display: flex;
  flex-direction: row;
  gap: 32px;
} */

/* .cards-logo{
  width: 137px;
  height: 137px;
} */

/* .cardsBTN{
  display: flex;
  align-items: center;
  justify-content: center ;
} */

/* .single-card2 {

  display: flex;
  flex-direction: row;
  gap: 32px;
} */

.teamWork-Div {
  display: flex;
  flex-direction: column;
}

.teamWork-Div h1{
  margin-bottom: 0px;
  margin-top: 0px;
}

.Form{
  /* width: 690px; */
  width: 42.8%;
  height: 560px;
  margin-top: 102.5px;
  border: 1px solid rgba(255, 255, 255, 0.501);
  /* margin-right: 241px; */
  margin-right: 13.27%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-headline{
  font-size: 46px;
  line-height: 65px;
  text-align: left;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

/* .main img {
  position: absolute;
  width: 450px;
  left: 50px;
  top: 150px;
} */

.my-form {
  margin-top: 102.5px;
  /* margin-left: 150px;  */
  margin-left: 22.1%;
}

.my-form p{
  font-size: 46px;
  line-height: 65px;
  margin-bottom: 20.9px;  
}

.input1{
     font-size: 14px;
  line-height: 22px;
  border: none;
  border-bottom: 1px solid #EAEAEA; /* Set the bottom border */
  background: transparent;
  margin-bottom: 20px;
  /* width: 419px; */
  width: 81%;
  height: 31px;
  text-align: left;
  letter-spacing: 1.68px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 0.5;
}

.input2{ 
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid #EAEAEA; /* Set the bottom border */
  background: transparent;
  padding: 5px;
  margin-bottom: 20px;
  /* width: 419px; */
  width: 81%;
  height: 31px;
  text-align: left;
  letter-spacing: 1.68px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 0.5;
}


#fname{
  margin-bottom: 46px;
}

#lname{
margin-bottom: 46.2px;
}

.my-form input[type="text"]:focus {
  outline: none; /* Remove the default focus outline */
}

/* .outer {
  border: 2px solid #eaeaea;
} */

.outer {
  width: 100%;
  max-width: 1612px;
  /* margin: 0 auto; */

  /* display: flex;
  flex-direction: column;
  justify-content: center
  align-items: center; */
  border: 2px solid #eaeaea;
}

.my-form label {
  position: relative;
  top: -20px; /* Adjust the distance above the input field */
  color: white;
  background: rgb(16, 17, 53);
  padding: 2px 5px;
  font-size: 12px;
}

.my-form button {
  background: transparent;
  color: white;
  /* width: 184px; */
  width: 35.3%;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  font-size: 20px;
  line-height: 38px;
  opacity: 50%;
}

.beside-Form {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  width: 800px;
  color: white;
  gap: 30px;
}
.beside-Form a {
  text-decoration: none;
  color: white;
}



/* .logos-container {
  margin-top: 90px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 60px;
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.logos-container img {
  width: 50px;
  height: 50px;
} */

.left-pre{
  /* width: 605px; */
  width: 42%;
}

.left-pre img{
  /* width: 75px; */
  /* height:75px; */
  width: 12.4%;
  height:12.4%;
}

.left-pre button{
  font-size: 20px;
  line-height: 38px;
  /* margin-left: 110px; */
  margin-left: 18.2%;
  margin-top: 49px;
  /* width: 249px; */
  width: 41.2%;
  height: 77px;
  background-color: transparent;
  border-radius: 6px;
color: #101135;
text-transform: uppercase;
}

.comma-text{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* gap: 35px; */
  gap: 5.7%;
}

.comma-text p{
  /* display: inline-block; */
  width: 100%;
  margin-top: 60px;
  font-size: 18px;
  line-height: 32px;
  /* width: 495px; */
  height: 137px;
  margin-bottom: 0px;
}

.right-pre{
  /* width: 800px; */
  width: 55.1%;
  height: 429px;
  display: flex;
  flex-direction: column;
  gap: 71px;
  /* margin-top: 104px; */
  /* background: linear-gradient(
    to right,
    white 0%,
    #EAEAEA 100%
  ); */
}

.slider{
  /* width: 695px; */
  position: relative;
  width: 87%;
  height: 33px;
  margin-left: 13%;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* gap: 158px; */
  gap: 22.7%;
}

.banner-slider{
  width: 695px;
  position: absolute;
  bottom: 110px;
  /* width: 87%; */
  height: 33px;
  /* margin-left: 13%; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  /* gap: 158px; */
  gap: 22.7%;
}

/* .banner-slider .banner-btn:first-child {
  margin-left: 20px; 
} */


/* .btn{
  width: 30px;
  height: 30px;
  background: #DA6123;
  border-radius: 50%;
  display: flex;
align-items: center;
justify-content: center;
} */

.btn {
  z-index: 1;
  width: 9px;
  height: 9px;
  background: #DA6123;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.5; */
  transition: all 0.3s;
}

.banner-btn{
  width: 9px;
  height: 9px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.5; */
  transition: all 0.3s;
}

.btnText{
  color: white;
  z-index: 1;
}

.banner-btnText{
  color: white;
  z-index: 2;
}

.btn.active {
  color: white;
  z-index: 1;
  width: 30px;
  height: 30px;
  opacity: 1;
}

.banner-btn.active{
  width: 30px;
  height: 30px;
  opacity: 1;
}



.banner-button {
  width: 9px;
  height: 9px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.5; */
  z-index: 1;
  transition: all 0.3s;
}

.banner-button.active {
  width: 30px;
  height: 30px;
  opacity: 1;
}
.orange-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #DA6123;
}

.white-line{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: white;
}

.content-container{
height: 100%;
background: transparent linear-gradient(90deg, #EAEAEA00 0%, #EAEAEA 100%) 0% 0% no-repeat padding-box;
opacity: 0.5;
}

.slider-content{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 100px;
  /* gap: 10.2px; */
}

.slider-logo{
  margin-bottom: 20px;
  filter: grayscale(100%) brightness(100%);
}

.slider-fname{
  width: 100%;
  font-size: 20px;
  line-height: 38px;
text-align: left;
color: #101135;
text-transform: uppercase;
opacity: 1;
}

.slider-title{
  width: 100%;
  font-size: 18px;
  line-height: 38px;
  text-align: left;
letter-spacing: 0.09px;
color: #101135;
opacity: 1;
}

.invisible {
  visibility: hidden;
}
.rightpre-inner{
  display: flex;
  flex-direction: column;
  gap: 3.2px;
  margin-left: 100px;
  margin-top: 72px;
}

.rightpre-inner img{
  /* padding-left: 10px; */
  width: 243px;
  height: 116px;
  filter: grayscale(100%);
  transform: translateX(-38px);
  }

  .p1{margin: 0;
    margin-top: 20.6px;
    font-size: 20px;
    line-height: 38px;
  }

  .p2{
    margin: 0;
    font-size: 18px;
    line-height: 32px;
  }

  .important-links{

    display: flex;
    flex-direction: column;
    gap: 45px;
    /* margin-left: 241px; */
    /* width: 300px; */
    width: 18.6%;
    padding-top: 164px; 
}

  .secondary-link{
    width: 100%;
    margin: 0px;
    text-align: left;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height:24px ;
    opacity: 80%;
  }

  .main-link{
    font-weight: 600;
    padding-bottom: 10px;
    line-height: 28px ;
    text-align: left;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    opacity: 90%;
  }

  .logos-container{
    /* padding-top: 38.7px; */
    /* padding-bottom: 38.7px; */
    /* margin-left: 208px; */
    margin-left: 12.9%;
    /* width: 240px; */
    width: 14.9%;
    height: 272.5px;
    margin-top: 106.5px;
    border: 1px solid rgba(255, 255, 255, 0.51);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }

  .logos-inner{
    display: flex;
    flex-direction: column;
    /* margin-left: 26px; */
    margin-left: 10.8%;
    margin-top: 38.7px;
    gap: 50px;
  }

.logo1{
width: 32.66px;
height:31.22px ;
}

.logo2{
width: 38.41px;
height:31.22px ;
}

.logo3{
width:44.71px ;
height:35.29px ;
}

.ending-text{
  position: absolute;
  color: white;
  font-size: 12px;
  opacity: 60%;
  width: 25.4%;
  height: 46px;
  right: 20%;
  bottom: 105px;
}


.navbar-section {
  box-sizing: border-box;
  border: 2px solid #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1612px;
    height: 146px;
    z-index: 10;
    background: white;
}

.navbar {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */

}

/* .navbar-content {
  display: flex;
  gap: 41px;
}

.navbar-content a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.navbar-content input{
  width: 110px;
  margin-right: 0%;
  visibility: hidden; 
} */

/* .navbar-content {
  display: flex;
  gap: 41px;
}

.navbar-content a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.navbar-content input {
  width: 17.8%;
  margin-right: 0%;
  visibility: hidden;
} */

/* .mobile-navbarContent{
  display: none;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  gap: 5.8%;
  margin-left: 27%;
} */

.mobile-navbarContent {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 117.8%;
  margin-left: 50%;
}

.navbar-content {
  display: flex;
  gap: 41px;
  margin-left: 26%;
}

.navbar-content a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.navbar-content input {
  width: 17.8%;
  margin-right: 0%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.navbar-content input.visible {
  visibility: visible;
  opacity: 1;
}


.logo {
  /* width: 257px; */
  width: 16%;
  height: 31.29px;
  margin-left: 9%;
}

.navbar-slider {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  /* background: linear-gradient(to right, #DA6123 5%, #EAEAEA 5%, #EAEAEA); */
}

.circle-left{
position: absolute;
width: 12px;
height: 12px;
bottom: -2%;
left: -0.5%;
}

.circle-right{
  position: absolute;
  bottom: 0;
  width: 12px;
  height: 12px;
  bottom: -2%;
  right: -0.3%;
  background-color: transparent;
  opacity: 80%;
}




.scroll-box {
  height: 200px;
  overflow: hidden;
}

.scroll-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: fit-content;
  overflow-y: scroll;
  scrollbar-width: none; /* hide scrollbar */
  -ms-overflow-style: none; /* hide scrollbar for IE 10+ */
}

.scroll-box ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.ARROW-UP{
  /* width: ; */
  /* height: ; */
}

.arrow{

  width: 100%;
  height: 100%;
}

.search-image{
  width: 22px;
  height: 22px;
}

.menu-image{
  width: 28px;
  height: 22px;
}
.search-field {
  border: 2px solid rgb(218, 97, 35);
  display: none;
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-field.show {
  display: block;
}

.menu-list {
  visibility: hidden;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.menu-list li {
  padding: 10px;
  text-align: center; /* Center the text */
  margin-bottom: 8px; /* Add a gap between each li element */
}

.menu-list li a {
  text-decoration: none;
  color: #fff;
}

.overlay.show {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-list.show {
  visibility: visible;
}
.title{
  width: 90%;
  height: 28px;
text-align: left;
font: normal normal normal 28px/43px Cooper Hewitt;
letter-spacing: 0px;
color: #101135;
opacity: 1;
margin-left: 8.6%;
}
.mobile-slider{
  width: 91.6%;
  transform: translateX(9.2%);
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 23.3%;
  margin-top: 53px;
}
.mobile-line{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #DA6123;
}
.mobile-btn {
  z-index: 1;
  width: 9px;
  height: 9px;
  background: #DA6123;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.5; */
  transition: all 0.3s;
}
.mobile-btnText{
  color: white;
  z-index: 1;
}


.mobile-btn.active {
  color: white;
  z-index: 1;
  width: 30px;
  height: 30px;
  opacity: 1;
}
.mobile-contentcontainer{
  margin-top: 50.5px;
}
.mobile-slidercontent{
  height: 167px;
background: transparent linear-gradient(90deg, #EAEAEA00 0%, #EAEAEA 100%) 0% 0% no-repeat padding-box;
opacity: 0.5;
margin-left: 8%;
display: flex;
flex-direction: row;
gap: 2%;
}
.mobile-sliderlogo{
  padding: 4px;
  margin-top: 42px;
  width: 155px;
  height: 57px;
}
.mobile-sliderlogo img{
  background: #FFFFFF 0% 0% no-repeat padding-box;
mix-blend-mode: color;
opacity: 1;
  width: 130px;
  height: 40px;
}
.mobileCarouser-text{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 42px;
}
.mobile-commatext{
  margin-left: 8.6%;
  transform: translateY(-27px);
}
.mobile-commatext img { 
width: 48px;
height:48px ;
}
.mobile-commatext p{
  margin-left: 50px;
  width: 75%;
  margin-top: 31px;
  text-align: left;
font: normal normal normal 15px/28px Cooper Hewitt;
letter-spacing: 0.07px;
color: #101135;
opacity: 1;
}
.mobile-sliderfname p{
  text-align: left;
font: normal normal normal 16px/20px Cooper Hewitt;
letter-spacing: 0px;
color: #101135;
text-transform: uppercase;
opacity: 1;
}
.mobile-slidertitle{
  text-align: left;
font: normal normal normal 15px/28px Cooper Hewitt;
letter-spacing: 0.07px;
color: #101135;
opacity: 1;
}
.mobile-sliderbutton{
  height: 73px;
  width: 51.4%;
  margin-left: 19%;
  border: 1px solid #101135;
border-radius: 6px;
opacity: 1;
background: transparent;
margin-top: 15px;
}
@media only screen and (max-width: 1440px) {
  .Organizations-Perform{
    font-size: 50px;
  }
  .images-container{height: 812px;
  }
  .Drive-result{
    font-size: 16px;
  }
  .navbar-content {
    gap: 28px;
  }
  .navbar-content a {
    font-size: 15px;
  }
  .navbar-content img{
    width:25px ;
    height:25px ;
  }
  /* .navbar {
    gap: 28%;
  } */
  .TeamsWorkbtn{
    font-size: 13px;
    width: 264.66px;
    height: 67px;
  }
  .banner-slider{
    width: 610px;
  }
  .secondary{
    top: 154px;
    width: 55%;
  }
  .third1{
    top: 239px;
    width: 64%;
  }
  .third2{
    top: 239px;
    width: 64%;
  }
  .scrollEHeader{
    font-size: 35px;
  }
  .active-cell{
    top: 38%;
  }
  .experiencing-section{
    gap: 9%;
  }
  .textDiv p{
    font-size: 16px ;
    margin-top: 4%;
  }
  .scroll-Button{
    width: 46.5%;
    height: 69px;
    font-size: 15px;
  }
  .scrollEncloser{
    gap: 20px;
  }
  .carousel-container{
    width: 100%;
  }
  .card-headline{
    font-size: 30px;
    line-height: 34px;
  }
  .card-description1 {
    font-size: 15px;
    line-height: 30px;
  }
  .card-description2 {
    font-size: 15px;
    line-height: 30px;
  }
  .card-description3 {
    font-size: 15px;
    line-height: 30px;
  }
  .card-description4 {
    font-size: 15px;
    line-height: 30px;
  }
  .left-pre button {
    margin-top: 60px;
    height: 71px;
    width: 37.2%;
    font-size: 18px;
  }
  .more-Text p{
    line-height: 16px;
    font-size: 15px;
  }
  .Capabilities-poster{
  width: 38.7%;
  top: -17%;
  right: 7.4%;
}
.Capabilities-inner {
  height: 466px;

}
.my-form button {
  background: transparent;
  color: white;
  /* width: 184px; */
  width: 35.3%;
  height: 65px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  font-size: 19px;
  line-height: 36px;
  opacity: 50%;
}
.HeaderText {
 margin-top: 120px;
}
}
/* ////////////////////////////////////////////////// 
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
*/

@media only screen and (max-width: 1366px) {
  .logo img{
    width: 130%;
  }
  .navbar-content {
    gap: 18px;
}
  .navbar-content a{
    font-size: 12px;
  }
  .images-container {
    height: 700px ;
  }
  .banner-slider {
    width: 480px;
    bottom: 20%;
}
.Organizations-banner {
  margin-top: 124px;
}
.Organizations-Perform{
  font-size: 34px;
}
.Drive-result {
  font-size: 12px;
}
.secondary {
  top: 104px;
}
.third1{
  top: 189px;
}
.third2{
  top: 189px;
}
.scrollEHeader {
  font-size: 33px;
}
.Capabilities-poster{
  top:-9%;
  right: 3.4%;
}
.Capabilities-inner {
  height: 426px;

}
.experiencing-section {
  gap: 8%;
}
.HeaderText1 {
  font-size: 60px;
  line-height: 50px;
}
.HeaderText2 {
  font-size: 28px;
  line-height: 40px;
}
.HeaderText3 {
  font-size: 16px;
  line-height: 30px;
}
.X5-section {
  margin-top: 30px;
}
.capabilities-inner2 {
  margin-top: 70.6px;
  margin-left: 5.3%;
}
.capabilities-button {
  font-size: 18px;
  line-height: 36px;
  margin-left: 5.3%;
  margin-top: 33.6px;
}
.leftpre-header {
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 60px;
}
.comma-text p{
  margin-top: 40px;
  font-size: 16px;
  line-height: 28px;
}

.left-pre button {
  margin-top: 50px;
  height: 61px;
  width: 35.2%;
  font-size: 16px;
}
.important-links {
  gap: 40px;
  font-size: 13px;
}
.ending-text {

  width: 32.4%;
  height: 46px;
  /* right: 300px; */
  right: 13%;
  bottom: 110px;
}
.row1{
  gap: 12%;
}
.row2{
  gap: 10%;
}

.HeaderText {
  margin-top: 100px;
}

}

/* ////////////////////////////////////////////////// 
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
*/

@media only screen and (max-width: 1200px){


  .images-container {
    height: 651px;
  }
  .Organizations-banner {
    gap: 0px;
  }
  .banner-slider {
    width: 458px;
    bottom: 24%;
  }
  .scroll-Button {
    width: 46.5%;
    height: 61px;
    font-size: 13px;
  }
  .more-Text p {
    line-height: 15px;
    font-size: 13px;
}
.X5-Image {
  /* width: 265px; */
  width: 70%;
}
.more-Image {
  width: 71%;
  height: 70px;
  transform: translateY(-87px);
}
.more-Text {
  width: 100%;
  transform: translateY(-70px);
}
.HeaderTextInner {  
  gap: 9.5px;
}
.HeaderText1 {
  font-size: 52px;
  line-height: 50px;
}
.HeaderText2 {
  font-size: 24px;
  line-height: 38px;
}
.HeaderText3 {
  font-size: 14px;
  line-height: 28px;
  margin-top: 11.7px;
}
.card-headline {
  font-size: 24px;
  line-height: 26px;
}
.row2 {
  gap: 13%;
}
.row1 {
  gap: 14%;
}
.column1 {
  /* margin-left: 150.5px; */
  margin-left: 7%;
}
.column3 {

  margin-left: 23%;
}
.card-description1 {
  width: 150%;
  font-size: 12px;
  line-height: 27px;
}
.card-description2 {
  width: 150%;
  font-size: 12px;
  line-height: 27px;
}
.card-description3 {
  width: 150%;
  font-size: 12px;
  line-height: 27px;
}
.card-description4 {
  width: 150%;
  font-size: 12px;
  line-height: 27px;
}
.capabilities-header1 {
  font-size: 28px;
}
.capabilities-header2 {
  font-size: 46px;
  width: 47%;
}
.capabilities-text {
  font-size: 14px;
  line-height: 27px;
  width: 55%;
}
.Capabilities-inner {
  height: 380px;
}
.Capabilities-poster {
  top: -19%;
  right: 2%;
  width: 41.7%;
}
.capabilities-button {
  font-size: 16px;
  margin-top: 23.6px;
}
.HeaderText {
  margin-top: 0px;
}
.pre-footer{
  margin-top: 0px;
}

.slider {
    width: 81%;
    margin-left: 19%;
}
.leftpre-header {
  font-size: 36px;
  line-height: 58px;
}
.comma-text p {
  margin-top: 40px;
  font-size: 12px;
  line-height: 24px;
}
.left-pre button {
  margin-top: 30px;
  font-size: 14px;
}
.my-form p {
  font-size: 40px;
  line-height: 65px;
  margin-bottom: 20.9px;
}
.my-form button{
height: 54px;
font-size: 16px;
}
}

@media only screen and (max-width: 1022px){
  .logo{
    margin-left: 9%;
  }
  .logo img{
    width: 208px;
}
.navbar-content {
  gap: 15px;
  margin-left: 19%;
}
.navbar-content a {
  font-size: 10px;
}
.images-container {
  height: 531px;
}
.Organizations-banner{
  margin-top: 17%;
}
.Organizations-Perform {
  font-size: 26px;
  line-height: 37px;
}
.Drive-result {
  font-size: 10px;
  line-height: 28px;
}
.TeamsWorkbtn {
  font-size: 10px;
  width: 138px;
  height: 40px;
  margin-top: 21px;
}
.banner-slider {
  width: 329px;
  bottom: 27%;
}
.scrollEHeader {
  font-size: 25px;
}
.carousel-slider{
  width: 95%;
}
.experiencing-section {
  gap: 7%;
}
.active-cell {
  width: 96%;
}
.textDiv p {
  font-size: 13px;
  margin-top: 4%;

}
.scroll-Button {
  width: 43.5%;
  height: 51px;
  font-size: 10px;
}
.X-section {
  margin-top: 112px;
  gap: 127px;
}
.X5-section {
  width: 34%;
  margin-top: 14px;
}
.more-Text p {
  line-height: 14px;
  font-size: 10px;
}
.more-Text {
  width: 100%;
  transform: translateY(-82px);
}
.row1 {
  gap: 16%;
}
.column3 {
  margin-left: 19%;
}
.HeaderTextInner {
  width: 85%;
}
.card-headline {
  font-size: 20px;
  line-height: 24px;
}
.card-description1 {
  width: 94%;
  font-size: 11px;
  line-height: 19px;
}
.card-description2 {
  width: 94%;
  font-size: 11px;
  line-height: 19px;
}
.card-description3 {
  width: 94%;
  font-size: 11px;
  line-height: 19px;
}
.card-description4 {
  width: 94%;
  font-size: 11px;
  line-height: 19px;
}
.column1 {
  margin-left: 6%;
}
.column3{
    margin-left: 17%;
}
.cards-button {
font-size: 11px;
}
.capabilities-inner2 {
  margin-top: 12px;
  margin-left: 4.3%;
}
.capabilities-header1 {
  font-size: 22px;
  width: 89px;
}
.capabilities-header2 {
  font-size: 34px;
  width: 45%;
}
.capabilities-text {
  font-size: 12px;
  line-height: 24px;
  width: 53%;
}
.capabilities-button {
  font-size: 14px;
  margin-top: 23.6px;
  height: 60px;
}
.Capabilities-inner {
  height: 285px;
}
.leftpre-header {
  font-size: 27px;
  line-height: 51px;
}
.comma-text p {
  margin-top: 40px;
  font-size: 11px;
  line-height: 23px;
}
.left-pre button {
  margin-top: 28px;
  font-size: 11px;
  height: 52px;
}
.content-container {
  height: 57%;
}
.slider {
  width: 74%;
  margin-left: 26%;
}
.slider-content {
  display: flex;
  flex-direction: column;
  margin-left: 88px;
  margin-top: 66px;
}
.slider-logo {
  margin-bottom: 10px;
}
.slider-fname {
  font-size: 16px;
  line-height: 36px;
}
.slider-title {
  font-size: 16px;
  line-height: 36px;
}
.my-form {
  margin-top: 92.5px;
  margin-left: 14.1%;
}
.my-form p {
  font-size: 35px;
  line-height: 65px;
  margin-bottom: 20.9px;
}
.important-links {
  gap: 30px;
  font-size: 11px;
}
.ending-text {
  width: 38.4%;
  font-size: 10px;
  height: 46px;
  /* right: 300px; */
  right: 7%;
  bottom: 146px;
}
}

@media only screen and (max-width: 767px){
  
  .encloser{
    margin-top: 268px;
  }
  .navbar-content {
    display: none;
    /* margin-left: 26%; */
  }
    .mobile-navbarContent{
      display: flex;
    }
  .logo{
    margin-left: 8%;
  }
  .images-container {
    width: 91.6%;
    height: 708px;
  }
  .secondary {
  width: 91.8%;
  height: 301px;
  top: -84px;
  }
  .secondary img{
    height: 100%;
  }
  .Organizations-banner {
    position: absolute;
    top: 27%;
    margin-left: 0;
    left: 20%;
    gap: 14px;
}
.Organizations-Perform{
  /* font-size: 22px; */
}
.banner-slider {
  width: 67%;
  bottom: 11%;
}
.third1 {
  top: 103px;
  width: 71%;
  right: -34.1%;
}
.third2 {
  top: 103px;
  width: 71%;
  right: -34.1%;
}
.experiencing-section {
  width: 100%;
  margin-top: 190px;
  display: flex;
  align-items: center;
  /* gap: 31px; */
  gap: 5%;
  /* justify-content: space-between; */
  flex-direction: column;
}
.scrollEncloser {
  width: 79%;
  gap: 0;
  margin-left: 0%;
}
.active-cell {
  width: 95%;
}
.scrollEHeader {
  font-size: 25px;
  margin-left: 3%;
}
.textDiv {
  width: 72%;
}
.textDiv p {
  font-size: 14px;
  margin-top: 0;
}
.scroll-Button {
  width: 80%;
  height: 73px;
  font-size: 10px;
}
.X-section {
  width: 100%;
  margin-top: 162px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
.X-Image {
  width: 91.8%;
  height: 462px;
}
.X5-section {
  margin-left: 7%;
  width: 85%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.more-Text {
  width: 100%;
  transform: translateY(0px);
  margin-top: 1px;
}
.more-Text p {
  line-height: 26px;
  font-size: 18px;
}
.HeaderTextInner {
  width: 100%;
}
.HeaderText1 {
  font-size: 40px;
  line-height: 54px;
}
.HeaderText2 {
  font-size: 20px;
  line-height: 38px;
}
.HeaderText3 {
  font-size: 12px;
  line-height: 26px;
  margin-top: 11.7px;
}
.row1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-left: 8.3%;
}
.row2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-left: 8.3%;
}
.cards-section {
  gap: 70px;
  align-items: normal;
}
.column1 {
  margin-left: 0;
  width: 100%;
  gap: 4%;
  
}
.column2 {
  width: 100%;
  gap: 4%;
}
.column3 {
  margin-left: 0;
  width: 100%;
  gap: 4%;

}
.column4   {
  gap: 4%;
  width: 100%;
}
.card-logo{
  width: 74px;
  height: 74px;
}
.card-logo img{
  width: 100%;
  height: 100%;
}
.card-text {
  gap: 7px;
}
.cards-button {
  margin-left: 8.3%;
  width: 50%;
  height: 63px;
  border: 1px solid #101135;
  border-radius: 6px;
  opacity: 1;
  letter-spacing: 0px;
  color: #101135;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 1;
}
.card-headline{
  text-align: left;
letter-spacing: 0px;
color: #101135;
text-transform: uppercase;
opacity: 1;
}
.card-description1{
  width: 100%;
text-align: left;
font: normal normal normal 15px/28px Cooper Hewitt;
letter-spacing: 0.07px;
color: #101135;
opacity: 1;
}
.card-description2{
  width: 100%;
  text-align: left;
  font: normal normal normal 15px/28px Cooper Hewitt;
  letter-spacing: 0.07px;
  color: #101135;
  opacity: 1;
}
.card-description3{
  text-align: left;
  font: normal normal normal 15px/28px Cooper Hewitt;
  letter-spacing: 0.07px;
  color: #101135;
  width: 100%;
  opacity: 1;
}
.card-description4{
  width: 100%;
  text-align: left;
  font: normal normal normal 15px/28px Cooper Hewitt;
  letter-spacing: 0.07px;
  color: #101135;
  opacity: 1;
}
.overlay-image {
  width: 140%;
  height: 557px;
  position: absolute;
  top: -53%;
  left: -41%;
}
.Capabilites-section {
  position: relative;
  margin-top: 289px;
  /* margin-left: 162px; */
  margin-left: 8.3%;
  height: 612px;
  /* width: 1450px; */
  width: 91.7%;
  position: relative;
}
.Capabilities-inner {
  border-radius: 15px 0px 0px 15px;
/* opacity: 0.5; */
  background-color: #EAEAEA;
  margin-top: 0;
  /* width: 1450px; */
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
}

.capabilities-inner2 {
  margin-top: 252px;
  margin-left: 19%;
}
.Capabilities-poster {
  z-index: 2;
  top: -16%;
  right: 9%;
  width: 72%;
}
.Capabilities-inner img {
  margin-top: 0;
  height: 300px
}
.capabilities-header1 {
  text-align: left;
  font: normal normal 300 24px/37px Plantin MT Pro;
  letter-spacing: 0.6px;
  color: #101135;
  opacity: 1;
}
.capabilities-header2 {
  margin-top: 0;
  font-size: 32px;
  width: 100%;
}
.capabilities-text {
  /* font-size: 12px; */
  line-height: 24px;
  width: 79%;
  text-align: left;
font: normal normal normal 15px/28px Cooper Hewitt;
letter-spacing: 0.07px;
color: #101135;
opacity: 1;
margin-top: 30px;
}
.capabilities-button {
  font-size: 14px;
  margin-top: 20px;
  height: 63px;
  width: 67%;
  border: 1px solid #101135;
border-radius: 6px;
opacity:1;
margin-left: 19%;
}
.pre-footer {
display: none;
}
.footer{
  margin-top: 400px;
}
.mobile-footer{
  margin-top: 132px;
  display: flex;
  flex-direction: column;
  position: relative;
}

}

@media only screen and (max-width: 630px){
.X5-section {
  margin-top: -40px;
}

}

@media only screen and (max-width: 530px){
  .X5-section {
    margin-top: -100px;
  }

}